<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Игры</title>
    <script src="/web/javascript/games/mafia/WindowStates.js"></script>
    <script src="/web/javascript/games/mafia/VoteTableGenerator.js"></script>
    <script src="/web/javascript/games/mafia/mafia.js"></script>
    <!-- Управление видимостью объектов - общий файл для всех страниц -->
    <script src="/web/javascript/styleToggler.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
</head>

<body class="mt-5"  onload="toggleMenu()">
    <!-- новая панель навигации. Прикреплена к верху, сворачивается в кнопку на мелких (медиум) экранах-->
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container">
        <!-- логотип-эмблема -->
        <a class="navbar-brand" href="#">НЁХ</a>
        <!-- Кнопка, в которую сворачивается меню на мелких экранах -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- контейнер, содержимое которого сворачивается в кнопку на мелких экранах -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="mainMenuItems" class="navbar-nav mr-auto topMenuUl">
                <li class="nav-item">
                    <a class="nav-link disabled" href="/index"> Главная </a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Игры
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{# page.pageBody.counterMenu.items}}
                        <a class="dropdown-item" href="{{link}}">{{name}}</a>
                        {{/ page.pageBody.counterMenu.items}}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item active" href="/games"> Все игры</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" id="navLinkSettings" href="/games_settings"> Настройка игр </a>
                </li>
            </ul>
                <div class="btn-group align-right" role="group">
                    <a 
                        href="/login"  
                        class="btn btn-secondary" 
                        id="buttonLogin"  
                        role="button"
                        >
                            LogIn
                    </a>
                    <a 
                        href="#"  
                        class="btn btn-secondary" 
                        id="buttonReg"  
                        role="button"
                        onClick="window.open('/users/reg', '_blank', 'toolbar=no,menubar=no,location=no,scrollbars=yes');"
                        hidden
                        >
                            New user
                    </a>
                    <a 
                        href="/admin"  
                        class="btn btn-outline-secondary" 
                        id="buttonUser"   
                        role="button"
                        >
                            User
                    </a>
                    <a 
                        href="/logout" 
                        class="btn btn-secondary"
                        id="buttonLogout" 
                        role="button"
                        >
                            LogOut
                    </a>
                </div>
        </div>
    </div>
</nav>

<!-- Основное "тело" сайта, его упаковываем в контейнер, чтобы применить адаптивность -->
<main role="main" class="container pt-3">
    <div class="row">


        <!--Боковое меню - теперь тут будут жить подсказки-->
        <div class="col-12 col-md-3 ">
            <div id="menuCounting" class="leftMenu">
                <p class="font-weight-bold">
                    Подсказка: 
                </p>
                <p id="leftTip">
                    постарайтесь получить удовольствие от игры
                </p>
            </div>
        </div>

        <!--Mafia-->
        <div id="mafia" class="bodyDiv col-12 col-md-7">
            <h2>
                Мафия
            </h2>

            <div id="mafia_user" class="mafia">
                <p>{{page.pageBody.counterGamesMafia.gameDescription}}</p>

                <form>
                    <div class="form-group row">
                        <label for="mafia_userName" class="col-sm-4 col-form-label">Имя пользователя</label>
                        <div class="col-sm-6">
                            <input type="text" id="mafia_userName" size="10" class="textboxWithLinck form-control"
                                   onkeyup="this.value = this.value.replace(/[^A-Za-zА-Яа-яЁё0-9]/,'');"
                                   required placeholder="Введите отображаемое имя"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mafia_sessionId" class="col-sm-4 col-form-label">ID сессии (до 6 цифр)</label>
                        <div class="col-sm-6">
                            <input type="number" id="mafia_sessionId" class="textboxWithLinck form-control" min="0" max="999999" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mafia_sessionPas" class="col-sm-4 col-form-label">Пароль сессии (до 6 цифр)</label>
                        <div class="col-sm-6">
                            <input type="number" id="mafia_sessionPas" class="textboxWithLinck form-control" min="0" max="999999" required />
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="mafia_login()" name="mafia_addUser" id="mafia_addUser">
                        Добавить себя мафия
                    </button>
                </form>
            </div>

            <div id="mafia_beforGame" class="mafia_beforGame" hidden>
                {{page.pageBody.counterGamesMafia.tooltipWhenAddingUsers}}
                <label for="mafia_startGame">
                    <h5>
                        !!!Дождитесь пока зайдут все пользователи!!!
                    </h5>
                </label>
                <br />
                <button type="button" class="btn btn-primary" onclick="mafia_startGame()" id="mafia_startGame" name="mafia_startGame">Начать игру</button>

                <!-- <label for="mafia_wanToBeaLeader">
                    <h5>Хочу быть ведущим</h5>
                </label> -->
                <button type="button" class="btn btn-warning" onclick="mafia_wanToBeaLeader()" id="mafia_wanToBeaLeader"
                        name="mafia_wanToBeaLeader">Хочу быть ведущим</button>
                <br />
                <h5 id="mafia_leader"></h5>
                <br /><br />
                <textarea id="mafia_users" rows="17"> </textarea>
            </div>

            <div id="mafia_game" class="mafia_game" hidden>
                <p>{{page.pageBody.counterGamesMafia.tooltipDuringTheGame}}</p>
                <h5 id="mafia_role"></h5>
                <!-- старая голосовалка -->

                <!-- новая голосовалка - шаблон -->
                <form>
                    <div class="form-group row">
                        <label for="mafia_voteVariants"class="col-form-label">Выберете против кого голосовать: </label>
                        <select class="form-control-sm col-6" id="mafia_voteVariants" onchange="mafia_voteVote()">

                        </select>
                    </div>
                </form>
                <br />

                <div id="mafia_userVoteTable"></div>

                <div id="mafia_citizenVote">
                    <h3>Голосование горожан.</h3>
                    <button type="button" class="btn btn-warning" id="mafia_voteСitizenButton" onclick="mafia_citizenVote()">Засчитать голоса горожан</button>
                </div>
                <div id="mafia_mafiaVote" hidden>
                    <h3>Голосование мафии.</h3>
                    <select class="form-control-sm col-6" onchange="mafia_selectCheckUserSheriff()" id="mafia_checkUserSheriffVariants" hidden>

                    </select>
                    <button type="button" class="btn btn-warning" id="mafia_voteMafiaButton" onclick="mafia_mafiaVote()">Засчитать голоса мафии</button>
                </div>
                <br />
                <button type="button" class="btn btn-danger" onclick="mafia_stopGame()" name="stopGame">Закончить игру</button>
            </div>
        </div>
    </div>
</main>

<footer class="mt-5 bg-light">
    <div class="container mx-auto">
        <p class="text-secondary text-center mb-0 text-uppercase">
            © Неведомая ёбаная херня Димы Романова, никакие права не
            защищены, все спизжено.
        </p>
        <p class="text-black-50 text-center mt-0">Коля тут не при чем!</p>
    </div>
</footer>

<!-- Optional JavaScript for Bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>