<!DOCTYPE html>
<html lang="ru">

<head>
        
    {{>web/html/pattern/headDepend}}
    <title>Мафия</title>
    <script src="/web/javascript/games/mafia/WindowStates.js"></script>
    <script src="/web/javascript/games/mafia/VoteTableGenerator.js"></script>
    <script src="/web/javascript/games/mafia/mafia.js"></script>
</head>

<body class="mt-5"  onload="toggleMenu()">

    {{>web/html/pattern/navbar}}
<!-- Основное "тело" сайта, его упаковываем в контейнер, чтобы применить адаптивность -->
<main role="main" class="container pt-3">
    <div class="row">


        <!--Боковое меню - теперь тут будут жить подсказки-->
        <div class="col-12 col-md-3 ">
            <div id="menuCounting" class="leftMenu">
                <p class="font-weight-bold">
                    Подсказка: 
                </p>
                <p id="leftTip">
                    постарайтесь получить удовольствие от игры
                </p>
                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullRulesModal">
                    Читать полные правила
                </button>
                  
                <!-- Modal -->
                <div class="modal fade" id="fullRulesModal" tabindex="-1" role="dialog" aria-labelledby="fullRulesModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="fullRulesModalTitle">
                                    Полные правила игры
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    здесь будут полные правила игры
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Mafia-->
        <div id="bodyDiv" class="col-12 col-md-7">
            <h2>
                Мафия
            </h2>

            <div id="mafia_user" class="mafia">
                
               <div class="collapse show" id="shortRulesCollapse">
                    <div class="card card-body">
                        <p>
                            Жители города, обессилевшие от разгула мафии, выносят решение 
                            пересажать в тюрьму всех мафиози до единого. В ответ мафия объявляет 
                            войну до полного уничтожения всех мирных горожан. 
                        </p>    
                        <p>
                            Кто победит в этой классической ролевой игре - зависит от тебя!
                        </p>  
                    </div>
                </div>
                <p>
                    <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#shortRulesCollapse" aria-expanded="false" aria-controls="shortRulesCollapse">
                        Скрыть/показать краткие правила
                    </button>
                </p>

                <form>
                    <div class="form-group row">
                        <label for="mafia_userName" class="col-sm-4 col-form-label">Имя пользователя</label>
                        <div class="col-sm-6">
                            <input type="text" id="mafia_userName" size="10" class="textboxWithLinck form-control"
                                   onkeyup="this.value = this.value.replace(/[^A-Za-zА-Яа-яЁё0-9]/,'');"
                                   required placeholder="Введите отображаемое имя"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mafia_sessionId" class="col-sm-4 col-form-label">ID сессии (до 6 цифр)</label>
                        <div class="col-sm-6">
                            <input type="number" id="mafia_sessionId" class="textboxWithLinck form-control" min="0" max="999999" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mafia_sessionPas" class="col-sm-4 col-form-label">Пароль сессии (до 6 цифр)</label>
                        <div class="col-sm-6">
                            <input type="number" id="mafia_sessionPas" class="textboxWithLinck form-control" min="0" max="999999" required />
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="mafia_login()" name="mafia_addUser" id="mafia_addUser">
                        Добавить себя мафия
                    </button>
                </form>
            </div>

            <div id="mafia_beforGame" class="mafia_beforGame" hidden>
                {{page.pageBody.counterGamesMafia.tooltipWhenAddingUsers}}
                <label for="mafia_startGame">
                    <h5>
                        !!!Дождитесь пока зайдут все пользователи!!!
                    </h5>
                </label>
                <br />
                <button type="button" class="btn btn-primary" onclick="mafia_startGame()" id="mafia_startGame" name="mafia_startGame">Начать игру</button>

                <!-- <label for="mafia_wanToBeaLeader">
                    <h5>Хочу быть ведущим</h5>
                </label> -->
                <button type="button" class="btn btn-warning" onclick="mafia_wanToBeaLeader()" id="mafia_wanToBeaLeader"
                        name="mafia_wanToBeaLeader">Хочу быть ведущим</button>
                <br />
                <h5 id="mafia_leader"></h5>
                <br /><br />
                <textarea id="mafia_users" rows="17"> </textarea>
            </div>

            <div id="mafia_game" class="mafia_game" hidden>
                <p>{{page.pageBody.counterGamesMafia.tooltipDuringTheGame}}</p>
                <h5 id="mafia_role"></h5>
                <!-- старая голосовалка -->

                <!-- новая голосовалка - шаблон -->
                <form>
                    <div class="form-group row">
                        <label for="mafia_voteVariants"class="col-form-label">Выберете против кого голосовать: </label>
                        <select class="form-control-sm col-6" id="mafia_voteVariants" onchange="mafia_voteVote()">

                        </select>
                    </div>
                </form>
                <br />

                <div id="mafia_userVoteTable"></div>

                <div id="mafia_citizenVote">
                    <h3>Голосование горожан.</h3>
                    <button type="button" class="btn btn-warning" id="mafia_voteСitizenButton" onclick="mafia_citizenVote()">Засчитать голоса горожан</button>
                </div>
                <div id="mafia_mafiaVote" hidden>
                    <h3>Голосование мафии.</h3>
                    <select class="form-control-sm col-6" onchange="mafia_selectCheckUserSheriff()" id="mafia_checkUserSheriffVariants" hidden>

                    </select>
                    <button type="button" class="btn btn-warning" id="mafia_voteMafiaButton" onclick="mafia_mafiaVote()">Засчитать голоса мафии</button>
                </div>
                <br />
                <button type="button" class="btn btn-danger" onclick="mafia_stopGame()" name="stopGame">Закончить игру</button>
            </div>
        </div>
    </div>
</main>

    {{>web/html/pattern/footer}}
    {{>web/html/pattern/footDepend}}

</body>

</html>