
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/account}" th:object="${user}" method="post">
    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Login">
    <br/>
    <label for="password">New Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="New Password">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>
