<!DOCTYPE html>
<html lang="ru">

<head>
        
    {{>web/html/pattern/headDepend}}
    <title>Игры</title>
</head>

<body class="mt-5"  onload="toggleMenu()">

    {{>web/html/pattern/navbar}}
<!-- Основное "тело" сайта, его упаковываем в контейнер, чтобы применить адаптивность -->
<main role="main" class="container pt-3">
    <div class="row">
        <!-- SPY -->
        <div class="col-12 col-md-4 my-4">
            <a href="games/spy" title="Го играть, я создал" class="text-decoration-none text-reset">
            <div class="card border-secondary shadow">
                <img src="web/images/spy_header.jpg" class="card-img-top" alt="Бонд. Джеймс Бонд. Да, это я, просто упоролся">
                <div class="card-body">
                    <h5 class="card-title">Шпион</h5>
                    <p class="card-text">Знаете этот неловкий момент, когда все вокруг что-то знают,
                        а вы не понимаете о чем речь, но пытаетесь не спалиться?
                        Так вот, про это целая игра есть.</p>
                </div>
                <div class="card-footer text-right">
                    <small class="text-muted">
                        <p class="gamersNumber">От 3 до 12 игроков</p>
                        <p class="gamersMaster">Игра без ведущего</p>
                        <p class="gamersTimer" >5-15 минут на раунд</p>
                    </small>
                </div>
            </div>
            </a>
        </div>
        <!-- MAFIA -->
        <div class="col-12 col-md-4 my-4">
            <a href="games/mafia"  title="Го играть, я создал" class="text-decoration-none text-reset">
            <div class="card border-secondary shadow">
                <img src="web/images/mafia_header.jpg" class="card-img-top" alt="Ты играешь в мою игру, но делаешь это без уважения">
                <div class="card-body">
                    <h5 class="card-title">Мафия</h5>
                    <p class="card-text">Классическая мафия без доп ролей, только мафия и мирные жители под присмотром ведущего</p>
                </div>
                <div class="card-footer text-right">
                    <small class="text-muted">
                        <p class="gamersNumber">От 5 до 12 игроков</p>
                        <p class="gamersMaster">Один из игроков - ведущий</p>
                        <p class="gamersTimer" >15-30 минут на раунд</p>
                    </small>
                </div>
            </div>
            </a>
        </div>
        <!-- Cards -->
        <div class="col-12 col-md-4 my-4">
            <a href="games/cards"  title="Го играть, я создал" class="text-decoration-none text-reset">
            <div class="card border-secondary shadow">
                <img src="web/images/cards_header.jpg" class="card-img-top" alt="Кто это блин?">
                <div class="card-body">
                    <h5 class="card-title">Карточки</h5>
                    <p class="card-text">Попробуй отгадать, что твой сосед тебе на лбу написал: синхрофазатрон или лох?
                    </p>
                </div>
                <div class="card-footer text-right">
                    <small class="text-muted">
                        <p class="gamersNumber">От 3 до 12 игроков</p>
                        <p class="gamersMaster">Игра без ведущего</p>
                        <p class="gamersTimer" >10-20 минут на раунд</p>
                    </small>
                </div>
            </div>
            </a>
        </div>
        <!-- Pattern -->
        <div class="col-md-4 my-4 d-none d-md-block">
            <a href="#"  title="Погоди, я еще не создал" class="text-decoration-none text-reset" disabled>
            <div class="card border-secondary shadow">
                <img src="web/images/chess_header.jpg" class="card-img-top" alt="Очень интенсивная интеллектуальная деятельность">
                <div class="card-body">
                    <h5 class="card-title">В разработке</h5>
                    <p class="card-text">Здесь скоро появятся новые игры, но это не точно</p>
                </div>
                <div class="card-footer text-right">
                    <small class="text-muted">
                        <p class="gamersNumber">От 0 до ∞ игроков</p>
                        <p class="gamersMaster">Все игроки - ведущие</p>
                        <p class="gamersTimer" >Время не ограничено</p>
                    </small>
                </div>
            </div>
            </a>
        </div>
    </div>
</main>

{{>web/html/pattern/footer}}
{{>web/html/pattern/footDepend}}

</body>

</html>