<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Игры</title>
    <!--
        отключил твои стили переподключил бутстрап по рекомендациям последней версии
        <link href="web/css/index.css" rel="stylesheet" tipe="text/css">
        <link href="web/css/games.css" rel="stylesheet" tipe="text/css">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    -->
    <script src="web/javascript/games/spy.js"></script>
    <script src="web/javascript/games/games.js"></script>
    <script src="web/javascript/games/mafia/WindowStates.js"></script>
    <script src="web/javascript/games/mafia/mafia.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
</head>

<body class="mt-5">
<!-- новая панель навигации. Прикреплена к верху, сворачивается в кнопку на мелких (медиум) экранах-->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <!-- логотип-эмблема -->
        <a class="navbar-brand" href="#">НЁХ</a>
        <!-- Кнопка, в которую сворачивается меню на мелких экранах -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--
        здесь и далее добавляю исходные айди и классы на всякий случай, не хочу искать какие используются
        в скриптах, а какие нет (там, где нет конфликта). Скорее всего, большинство из них можно будет
        потом убрать, и ссылаться на объекты и классы бутстрапа
        -->

        <!-- контейнер, содержимое которого сворачивается в кнопку на мелких экранах -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="mainMenuItems" class="navbar-nav mr-auto topMenuUl">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Home </a>
                </li>
                {{#page.mainMenu.items}}
                    <li class="nav-item active topMenuLi">
                        <a href="{{link}}" class="nav-link topMenuA">{{name}}</a>
                    </li>
                {{/page.mainMenu.items}}
            </ul>
        </div>
    </div>
</nav>

<!-- Основное "тело" сайта, его упаковываем в контейнер, чтобы применить адаптивность -->
<main role="main" class="container pt-3">
    <div class="row">
        <!--
        создаем колонку адаптивной ширины (на экранах больше среднего займет 4/12 ширины)
        размерная сетка бутстрапа делится на 12 колонок, и все размеры указываются в количестве
        колонок относительно размера экрана. Средний (md) неплохо подходит, чтобы оно выглядело
        адаптивно (схлопывалось в аккуратную колонку) на телефонных экранах. Возможно в будущем
        дополнить адаптивность - возможности фреймворка позволяют также отображать на экранах
        разного размера разные блоки, разное содержимое и так далее, без особых на то заморочек.
        -->
        <div class="col-12 col-md-4">
            <!--Боковое меню-->
            <!-- его по-хорошему тоже потом переписать на бутстрапе, просто пока не готов до конца
            осознать как лучше это сделать. Вообще, у них есть подходящий под это инструмент
            кнопок-вкладок, которые в зависимости от нажатия скрывают одни блоки и отображают другие,
            и выгдядят собственно как вкладки в блоке -->
            <div id="menuCounting" class="leftMenu">
                <ul id="menuCountingItems">
                    {{# page.pageBody.counterMenu.items}}
                        <li>
                            <a onclick='menuClick("{{link}}")'>{{name}}</a>
                        </li>
                    {{/ page.pageBody.counterMenu.items}}
                </ul>
            </div>
        </div>

        <!--SPY-->
        <div id="spy" class="bodyDiv col-12 col-md-8" >
            <h2>
                Шпион
            </h2>

            <div id="user" class="spy">
                <p>{{page.pageBody.counterGamesSpy.gameDescription}}</p>
                <form>
                    <div class="form-group row">
                        <label for="userName" class="col-sm-4 col-form-label">Имя пользователя</label>
                        <div class="col-sm-6">
                            <input type="text" id="userName" size="10" class="textboxWithLinck form-control"
                                   onkeyup="this.value = this.value.replace(/[^A-Za-zА-Яа-яЁё0-9]/,'');"
                                   required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sessionId" class="col-sm-4 col-form-label">ID сессии (до 6 цифр)</label>
                        <div class="col-sm-6">
                            <input type="number" id="sessionId" class="textboxWithLinck form-control" min="0" max="999999" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sessionPas" class="col-sm-4 col-form-label">Пароль сессии (до 6 цифр)</label>
                        <div class="col-sm-6">
                            <input type="number" id="sessionPas" class="textboxWithLinck form-control" min="0" max="999999" required />
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="addUser()" name="addUser" id="addUser">
                        Добавить себя шпион
                    </button>
                </form>
                <!-- <input type="button" onclick="addUser()" name="addUser" id="addUser" value="Добавить себя шпион"> -->
            </div>

            <div id="beforGame" class="beforGame" hidden>
                {{page.pageBody.counterGamesSpy.tooltipWhenAddingUsers}}
                <label for="startGame">
                    <h5>
                        !!!Дождитесь пока зайдут все пользователи!!!
                    </h5>
                </label>
                <p>
                    <button type="button" class="btn btn-primary" onclick="startGame()" id="startGame"
                            name="startGame">
                        Начать игру
                    </button>
                    <!-- <input type="button" onclick="startGame()" id="startGame" name="startGame" value="Начать игру"> -->
                </p>
                <textarea id="users" rows="17"></textarea>
            </div>

            <div id="game" class="game" hidden>
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">InGame</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{page.pageBody.counterGamesSpy.tooltipDuringTheGame}}
                            </h6>
                            <p class="card-text">
                                <textarea id="gamerInformation" rows="17"></textarea>
                            </p>
                            <button type="button" class="btn btn-primary" onclick="showSpy()" name="showSpy">
                                Показать шпиона
                            </button>
                            <button type="button" class="btn btn-danger" onclick="stopGame()" name="stopGame">
                                Закончить игру
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Локации в игре</h5>
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Локация</th>
                                    <th>Создатель</th>
                                </tr>
                                </thead>
                                <tbody class="table table-striped">
                                {{#page.pageBody.counterGamesSpy.locations}}
                                    <tr class="table-data">
                                        <td>{{locationName}}</td>
                                        <td>{{authorLogin}}</td>
                                    </tr>
                                {{/page.pageBody.counterGamesSpy.locations}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Mafia-->
        <div id="mafia" class="bodyDiv col-12 col-md-8" hidden>
            <h2>
                Мафия
            </h2>

            <div id="mafia_user" class="mafia">
                <p>{{page.pageBody.counterGamesMafia.gameDescription}}</p>

                <label for="mafia_userName">
                    <h5>Имя пользователя</h5>
                </label>
                <input type="text" id="mafia_userName" size="10"
                       onkeyup="this.value = this.value.replace(/[^A-Za-zА-Яа-яЁё0-9]/,'');" class="textboxWithLinck"
                       required />
                <br />
                <label for="mafia_sessionId">
                    <h5>ID сессии (до 6 цифр)</h5>
                </label>
                <input type="number" id="mafia_sessionId" class="textboxWithLinck" min="0" max="999999" required />
                <br />
                <label for="mafia_sessionPas">
                    <h5>Пароль сессии (до 6 цифр)</h5>
                </label>
                <input type="number" id="mafia_sessionPas" class="textboxWithLinck" min="0" max="999999" required />
                <br />
                <button type="button" class="btn btn-primary" onclick="mafia_login()" id="mafia_addUser"
                        name="mafia_addUser">
                    Добавить себя мафия
                </button>
                <!-- <input type="button" onclick="mafia_addUser()" id="mafia_addUser" name="mafia_addUser"value="Добавить себя мафия"> -->
            </div>

            <div id="mafia_beforGame" class="mafia_beforGame" hidden>
                {{page.pageBody.counterGamesMafia.tooltipWhenAddingUsers}}
                <label for="mafia_startGame">
                    <h5>
                        !!!Дождитесь пока зайдут все пользователи!!!
                    </h5>
                </label>
                <br />
                <button type="button" class="btn btn-primary" onclick="mafia_startGame()" id="mafia_startGame" name="mafia_startGame">Начать игру</button>

                <!-- <label for="mafia_wanToBeaLeader">
                    <h5>Хочу быть ведущим</h5>
                </label> -->
                <button type="button" class="btn btn-warning" onclick="mafia_wanToBeaLeader()" id="mafia_wanToBeaLeader"
                        name="mafia_wanToBeaLeader">Хочу быть ведущим</button>
                <br />
                <h5 id="mafia_leader"></h5>
                <br /><br />
                <textarea id="mafia_users" rows="17"> </textarea>
            </div>

            <div id="mafia_game" class="mafia_game" hidden>
                <p>{{page.pageBody.counterGamesMafia.tooltipDuringTheGame}}</p>
                <h5 id="mafia_role"></h5>
                <!-- старая голосовалка -->

                <!-- новая голосовалка - шаблон -->
                <form>
                    <div class="form-group row">
                        <label for="mafia_voteVariants"class="col-form-label">Выберете против кого голосовать: </label>
                        <select class="form-control-sm col-6" id="mafia_voteVariants" onchange="mafia_voteVote()">

                        </select>
                    </div>
                </form>
                <br />

                <div id="mafia_userVoteTable"></div>

                <div id="mafia_citizenVote">
                    <h3>Голосование горожан.</h3>
                    <button type="button" class="btn btn-warning" id="mafia_voteСitizenButton" onclick="mafia_citizenVote()">Засчитать голоса горожан</button>
                </div>
                <div id="mafia_mafiaVote" hidden>
                    <h3>Голосование мафии.</h3>
                    <button type="button" class="btn btn-warning" id="mafia_voteMafiaButton" onclick="mafia_mafiaVote()">Засчитать голоса мафии</button>
                </div>
                <br />
                <button type="button" class="btn btn-danger" onclick="mafia_stopGame()" name="stopGame">Закончить игру</button>
            </div>
        </div>
    </div>
</main>

<!-- "подвал" сайта, пока заполняю чисто формально, потом будет нужно заполнить нормально -->
<footer class="text-secondary mt-4">
    <div class="container text-center">
        <p class="">
            © Неведомая ёбаная херня Димы Романова, никакие права не
            защищены, все спизжено. Коля тут не при чем!
        </p>
    </div>
</footer>

<!-- Optional JavaScript for Bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>