<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Игры</title>

    
    <!-- Управление видимостью объектов - общий файл для всех страниц -->
    <script src="/web/javascript/styleToggler.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
</head>

<body class="mt-5"  onload="toggleMenu()">
<!-- новая панель навигации. Прикреплена к верху, сворачивается в кнопку на мелких (медиум) экранах-->
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container">
        <!-- логотип-эмблема -->
        <a class="navbar-brand" href="#">НЁХ</a>
        <!-- Кнопка, в которую сворачивается меню на мелких экранах -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- контейнер, содержимое которого сворачивается в кнопку на мелких экранах -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="mainMenuItems" class="navbar-nav mr-auto topMenuUl">
                <li class="nav-item">
                    <a class="nav-link disabled" href="/index"> Главная </a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Игры
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{# page.pageBody.counterMenu.items}}
                        <a class="dropdown-item" href="{{link}}">{{name}}</a>
                        {{/ page.pageBody.counterMenu.items}}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item active" href="/games"> Все игры</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" id="navLinkSettings" href="/games_settings"> Настройка игр </a>
                </li>
            </ul>
                <div class="btn-group align-right" role="group">
                    <a 
                        href="/login"  
                        class="btn btn-secondary" 
                        id="buttonLogin"  
                        role="button"
                        >
                            LogIn
                    </a>
                    <a 
                        href="/admin"  
                        class="btn btn-outline-secondary" 
                        id="buttonUser"   
                        role="button"
                        >
                            User
                    </a>
                    <a 
                        href="/logout" 
                        class="btn btn-secondary"
                        id="buttonLogout" 
                        role="button"
                        >
                            LogOut
                    </a>
                </div>
        </div>
    </div>
</nav>


<!-- Основное "тело" сайта, его упаковываем в контейнер, чтобы применить адаптивность -->
<main role="main" class="container pt-3">
    
</main>

<footer class="mt-5 bg-light">
    <div class="container mx-auto">
        <p class="text-secondary text-center mb-0 text-uppercase">
            © Неведомая ёбаная херня Димы Романова, никакие права не
            защищены, все спизжено.
        </p>
        <p class="text-black-50 text-center mt-0">Коля тут не при чем!</p>
    </div>
</footer>

<!-- Optional JavaScript for Bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>