<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 4 Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="web/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b80c2c4f09.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#"><i class="fa fa-slack" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav">
           {{#page.mainMenu.items}}
               <li class="nav-item">
                   <a href="{{link}}" class="nav-link">{{name}}</a>
               </li>
           {{/page.mainMenu.items}}
        </ul>
    </div>
</nav>
<header class="header ">
    <div class="overlay"></div>
        <div class="container">
            <div class="description ">
                <h1>
                </h1>
            </div>
        </div>
</header>

<footer>
        <p>{{ page.pageBody.mainText}}</p>
        <br>
        <p>{{ page.pageBody.contacts}}</p>
</footer>

<script type="text/javascript" src="web/javascript/index.js"></script>
<script type="text/javascript" src="web/javascript/jquery.min.js"></script>
</body>
</html>