<!DOCTYPE html>
<html lang="ru">

<head>
        
    {{>web/html/pattern/headDepend}}
    <title>Главная страница, которую никто не видит, и которая шаблон</title>

</head>

<body class="mt-5"  onload="toggleMenu()">

    {{>web/html/pattern/navbar}}
<!-- Основное "тело" сайта, его упаковываем в контейнер, чтобы применить адаптивность -->
<main role="main" class="container pt-3">
    <div class="row">

        <!--Боковое меню - теперь тут будут жить подсказки-->
        <div class="col-12 col-md-3">
            <div id="menuCounting" class="leftMenu">
                <p class="font-weight-bold">
                    Подсказка: 
                </p>
                <p id="leftTip">
                    постарайтесь получить удовольствие от игры
                </p>
            </div>
        </div>

        <!-- Тушка -->
        <div id="bodyDiv" class="col-12 col-md-7" >
            <h2>
                Локальный заголовок
            </h2>
        </div>
    </div>
</main>

    {{>web/html/pattern/footer}}
    {{>web/html/pattern/footDepend}}

</body>

</html>