<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Регистрация</title>
        <script src="/web/javascript/reg.js"></script>
    </head>

    <body>
        <main role="main" class="container pt-3">
            <!-- <div id="createUser" class="createUser" class="bodyDiv"> -->
            <form method="GET" class="bodyDiv" action="/users/addUser">
                <div class="form-group row">
                    <label for="login" class="col-sm-4 col-form-label"
                        >Введите логин</label
                    >
                    <div class="col-sm-6">
                        <input
                            type="text"
                            id="login"
                            size="10"
                            class="form-control"
                            onkeyup="this.value = this.value.replace(/[^A-Za-zА-Яа-яЁё0-9]/,'');"
                            required
                            placeholder="Введите отображаемое имя"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-4 col-form-label"
                        >Введите пароль</label
                    >
                    <div class="col-sm-6">
                        <input
                            type="password"
                            id="password"
                            class="form-control"
                            required
                            placeholder="Введите пароль"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password2" class="col-sm-4 col-form-label"
                        >Введите пароль повторно</label
                    >
                    <div class="col-sm-6">
                        <input
                            type="password2"
                            id="password"
                            class="form-control"
                            required
                            placeholder="Подтвердите пароль"
                        />
                    </div>
                </div>
                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="reg()"
                    name="createUser"
                    id="createUser"
                >
                    Зарегестрироваться
                </button>
            </form>
            <!-- Modal -->
            <div
                class="modal fade"
                id="alertModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="alertModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Регистрация
                            </h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="alertMessage">...</p>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                            >
                                Close this message
                            </button>
                            <button type="button" class="btn btn-primary" onclick="self.close()">
                                Close registration
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </main>

        <!-- Optional JavaScript for Bootstrap -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
