<h3>Игра 30 лет</h3>
<p class="subtitle">(помесь джетбокса и эмоджионариума)</p>
<ol>
    <li> Есть список мероприятий, каждому игроку рандомом выдается по своему мероприятию</li>
    <li> Каждый игрок отвечает на вопрос почему он не может посетить данное мероприятие</li>
    <li> Дальше всем игрокам задается один и тот же вопрос (пр. почему Валера не может пойти прыгать с веревкой).</li>
    <li> Задача игроков ответить так как это сделал бы Валера</li>
    <li> Дальше все пытаются угадать вариант валеры</li>
    <li>
        Очки начисляются как в эмоджинариуме:
        <ul>
            <li>угадал +1</li>
            <li>тебя отгадали 5 человек, тебе + 5 очков</li>
            <li>тебя угадали все, ты остался без очков</li>
        </ul>
    </li>
</ol>