<footer class="mt-5 bg-light">
    <div class="container mx-auto">
        <p class="text-secondary text-center mb-0 text-uppercase">
            © Неведомая ёбаная херня Димы Романова, никакие права не
            защищены, все спизжено.
        </p>
        <p class="text-black-50 text-center mt-0">Коля тут не при чем!</p>
    </div>
</footer>
