<div id='news'>
    <div class="card">
        <div class="card-header">
            <h4>Самые последние изменения</h4>
        </div>
        <div class="card-body">
            что-то даже работает
        </div>
        <div class="card-footer text-muted">
            <p class="font-italic text-right">24 июля 2020</p>
        </div>
    </div>
</div>