<div id='news'>
    <div class="card">
        <div class="card-header">
            <h3>Самые последние изменения</h3>
        </div>
        <div class="card-body">
            <ul class="card-text">
                <li class="my-1">Наконец-то появляются зачатки дизайна!</li>
                <li class="my-1">Исправили старые баги, и добавили новые!</li>
                <li class="my-1">Наконец-то есть реклама! УРА! Пока она даже не очень похожа на рекламу, но адблок уже на нее агрится, значит, мы на верном пути!</li>
            </ul>
        </div>
        <div class="card-footer text-muted">
            <p class="font-italic text-right">19 июня 2020 года</p>
        </div>
    </div>
</div>