<p>
    Игра состоит из ограниченных временем игровых раундов. В каждом раунде - новая локация, новый шпион. Все игроки, кроме шпионов, видят в поле "location" название локации, в которой находится большинство из них, шпион(ы) видит надпись "SPY (вы шпион)".
    Также, все без исключения видят полный список игроков в лобби.
</p>
<p>
    Задача игроков - за отведенное время найти и ЕДИНОГЛАСНО указать на шпиона, задача шпиона - отгадать локацию, в которой находятся игроки. Для этого все игроки по очереди задают друг другу вопросы, связанные с этой локацией. Первым вопрос задает наиболее
    подозрительный из игроков.
</p>
<p>
    Вопросы должны, с одной стороны, быть достаточно конкретными, чтобы шпион выдал себя тем, что он не знает локацию, с другой - должны быть достаточно обтекаемы, чтобы не дать понять в явной форме, что это за локация. В связи с этим, вопросы должны задаваться
    либо в формате "да или нет?", либо в формате "А или Б?". Вопросы с открытым ответом не рекомендуются.
</p>
<p>
    Раунд заканчивается в одном из трех случаев:
</p>
<ol>
    <li>
        Время истекло. Игроки должны проголосовать, кто был шпионом. Если они не угадали - шпион победил (смог уйти и не раскрыть себя). Отгадывать локацию ему при этом не обязательно.
    </li>
    <li>
        Время еще не истекло, но игроки точно решили, кто же шпион. Если игроки не угадали, шпион выиграл.
    </li>
    <li>
        Время еще не истекло, но шпион готов назвать локацию. Если он назвал ее неверно, он проиграл.
    </li>
</ol>
<p>
    Примечание. Когда игроки уже начали голосование за "казнь" шпиона, он не может назвать локацию - он уже скомпрометирован.
</p>
<p>
    Уточнение для случая, когда шпионов больше одного. Для победы не-шпионов нужно правильно раскрыть всех шпионов до единого. Если хотя бы один уйдет незамеченным - вы проиграли. С другой стороны, даже одному шпиону достаточно правильно назвать локацию,
    чтобы шпионы победили.
</p>